body {
  background-color: rgb(210, 63, 210);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  font-size: 18px;
  text-align: justify;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 10px;
}

.input-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.input-container,
.output-container {
  width: 100%;
  max-width: 600px; /* Limita a largura dos contêineres */
  margin-bottom: 20px;
}

.input-container {
  margin-right: 0;
}

.text-input {
  width: calc(100% - 20px); /* Considera o espaçamento das margens */
  resize: none;
  padding: 10px;
  margin-right: 0;
}

.text-output {
  background-color: rgb(180, 178, 178);
  color: rgb(5, 5, 5);
  width: calc(100% - 20px); /* Considera o espaçamento das margens */
  max-width: 600px; /* Limita a largura do elemento de saída */
  margin-top: 10px; /* Espaçamento superior para separá-lo do cabeçalho */
}

/* Adicionando estilos para o cabeçalho */
.header {
  color: white;
  padding: 10px;
  width: 100%;
}


@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%); /* Começa fora da tela à direita */
  }
  100% {
    transform: translateX(-100%); /* Termina na posição original */
  }
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 10px;
  animation: moveRightToLeft 5s ease-in-out alternate infinite;
  
}